<footer class="footer inverse-wrapper" style="background:#001031 !important">
    <div class="container inner">
      <div class="row">
  
            <div class="col-sm-3">
              <div class="widget">
                  <h4 class="widget-title">Get in Touch</h4>
                  <p><strong>SKM MARKETING AND RETAILS PRIVATE LIMITED</strong></p>
                  <ul class="info">
                    <li><i class="fa fa-map-marker"></i>
                        <p><strong> Head Office : </strong><br>Door No. #008, Grownd floor, some complex, coimbatore, coimbatore, India, 0000000</p>
                    </li>
                    <li><i class="fa fa-envelope"></i>
                        <p><a href="mailto:info@skmarketing.com" class="email-link">info@skmarketing.com</a></p>
                    </li>
                    <li><i class="fa fa-phone"></i>
                        <p>+91 9944642177</p>
                    </li>
                    <li><i class="fa fa-phone"></i>
                      <p>+91 9944642173</p>
                  </li>
                  </ul>
                  <!-- /.info -->
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
  
  
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">About us </h4>
            <ul class="list-unstyled">
              <li> <a href="#">Contact Us</a> </li>
              <li> <a href="#">Terms of Use</a> </li>
              <li> <a href="#">Privacy Policy</a> </li>
              <li> <a href="#">Sign in</a> </li>
              <li> <a href="#">Sign up</a> </li>
            </ul>
            <!-- /.post-list -->
          </div>
          <!-- /.widget -->
        </div>
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">More </h4>
            <ul class="list-unstyled">
              <li> <a href="#">REFERAL INCOME</a> </li>
              <li> <a href="#">RETAIL COME</a> </li>
              <li> <a href="#">SPECIAL INCOME</a> </li>
              <li> <a href="#">ACHIVEMENTS</a> </li>
              <li> <a href="#">WORK MORE AND GET MORE</a> </li>
            </ul>
            <!-- /.post-list -->
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
        <!-- <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">Latest News </h4>
           <iframe src="http://mksuccessworld.com/shownews.aspx" style="height:240px; width:100%; border:none" scrolling="no"></iframe>
          </div>
        </div> -->
        <!-- /column -->
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title">Copyright </h4>
            <p> Copyright 2020 © <br>
              SKM arketing and Retails Pvt. Ltd. <br>
              All Rights Reserved </p>
          </div>
          <!-- /.widget -->
          <div class="widget">
            <h4 class="widget-title">Follow us </h4>
            <ul class="social">
              <li> <a href="#"><i class="fa fa-facebook-square"></i></a> </li>
              <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
              <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
              <li> <a href="#"><i class="fa fa-linkedin-square"></i></a> </li>
            </ul>
          </div>
          <!-- /.widget -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- .container -->
  </footer>