table, td, th {  
    border: 1px solid #dcd8d8;
    text-align: left;
  }
  table th{
      /* background-color: #0272fe94;
      color: white; */
  }
  table {
    max-width: 200px;
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 5px;
  }