table, td, th {  
    border: 1px solid #dcd8d8;
    text-align: left;
  }
  table th{
      /* background-color: #0272fe94;
      color: white; */
      border: none;
  }
  table {
    /* max-width: 200px;
    border-collapse: collapse; */
    width: 100%;
    border: none;
  }
  
  th, td {
    /* padding: 5px; */
    font-size: 14px;
    border: none;
  }
  .bg-289ba7{
    background-color: #289ba7;
  }
  .bg-001031db{
    background-color: #001031db;
  }
  .card-body {
    padding: 5px 10px;
}