<div class="content-inside pt-3">
    <!-- <h2 class="text-center">Baskar J</h2> -->
    <!-- <div><i class="fa fa-arrow-circle-o-left" style="font-size: 36px;"></i></div> -->
    <div class="row ml-2 mr-2">
      <div class="col-md-4">
        <div class="card text-white bg-001031db mb-3">
          <div class="card-body">
            <table>
              <tr>
                <td>Left Member</td>
                <td>{{box1['left_member'] || na}}</td>
              </tr>
              <tr>
                <td>Left Active Member</td>
                <td>{{box1['left_active_member'] || na}}</td>
              </tr>
              <tr>
                <td>left Active Member Sale</td>
                <td>{{box1['left_active_member_sale'] || na}}</td>
              </tr>
              <tr>
                <td>right Matching income</td>
                <td>{{box1['left_matching_income'] || na}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-white bg-289ba7 mb-3">
          <div class="card-body">
            <table>
              <tr>
                <td>Direct Sponser ID</td>
                <td>{{box2['direct_sponser_id'] || na}}</td>
              </tr>
              <tr>
                <td>Sponser ID</td>
                <td>{{box2['sponser_id'] || na}}</td>
              </tr>
              <tr>
                <td>Status</td>
                <td>{{box2['status'] || na}}</td>
              </tr>
              <tr>
                <td>Direct member Sale</td>
                <td>{{box2['direct_memeber_sale'] || na}}</td>
              </tr>
            </table>
          </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-white bg-001031db mb-3">
          <div class="card-body">
            <table>
              <tr>
                <td>Right Member</td>
                <td>{{box3['right_member'] || na}}</td>
              </tr>
              <tr>
                <td>Right Active Member</td>
                <td>{{box3['right_active_member'] || na}}</td>
              </tr>
              <tr>
                <td>Right Active Member Sale</td>
                <td>{{box3['right_active_member_sale'] || na}}</td>
              </tr>
              <tr>
                <td>Right Matching income</td>
                <td>{{box3['right_matching_income'] || na}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <!-- <h2 style="text-align: center;margin: auto;">Baskar J</h2> -->
                <!-- <div class="col-md-4">
                    <ul class="list-group" style="max-width: 100px;">
                        <li class="list-group-item" style="font-weight: 600;">Left</li>
                        <li class="list-group-item">3</li>
                      </ul>
                </div>
                <div class="col-md-4">
                    <h2 style="padding: 10px;width: 300px;text-align: center;margin: 10px auto;">Baskar J</h2>
                </div>
                <div class="col-md-4">
                    <ul class="list-group" style="max-width: 100px;min-width: 100px;float: right;">
                      <li class="list-group-item" style="font-weight: 600;">Total</li>
                      <li class="list-group-item">6</li>
                    </ul>
                    <ul class="list-group" style="max-width: 100px;min-width: 100px;float: right;">
                        <li class="list-group-item" style="font-weight: 600;">Right</li>
                        <li class="list-group-item">3</li>
                      </ul>
                </div> -->
            </div>
            <!-- <app-mytree></app-mytree> -->
            <!-- <app-d3tree></app-d3tree> -->
            <!-- <app-d3v4tree></app-d3v4tree> -->
            <app-org-chart></app-org-chart>
            <!-- <app-gojstree></app-gojstree> -->
        </div>
        <div class="col-md-3" style="display: none;">
            <table>
                <tr>
                  <th>Left</th>
                  <th>Right</th>
                  <th>Total</th>
                </tr>
                <tr>
                  <td>3</td>
                  <td>3</td>
                  <td>6</td>
                </tr>
              </table>
              <br><br>
            <h4 style="background: #fe004a;padding: 5px;">RETAIL PURCHASE</h4>
            <a>MATERIALS ORDER</a>
        </div>
    </div>
    
</div>