.card {
    /* position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem; */
}
.card-body {
    /* flex: 1 1 auto;
    padding: 0.25rem; */
}
.card-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    color: #727272;
    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: 0;
    padding-left: 5%;
}
.card-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    color: #303030;
    padding-left: 5%;
}
#foodimg .icon-Food {
    float: right;
    color: #FFFFFF;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.bg-c-yellow {
    background: linear-gradient(to right, #fe9365, #feb798);
}
.bg-c-green {
    background: linear-gradient(to right, #0ac282, #0df3a3);
}
.bg-c-pink {
    background: linear-gradient(to right, #fe5d70, #fe909d);
}
.bg-c-lite-green {
    background: linear-gradient(to right, #01a9ac, #01dbdf);
}
.card-block {
    padding: 1.25rem;
}
.update-card .card-footer {
    background-color: transparent;
    border-top: 1px solid #fff;
}
.border-left-primary {
    border-left: .25rem solid #4e73df!important;
}
.border-left-success {
    border-left: .25rem solid #1cc88a!important;
}
.border-left-info {
    border-left: .25rem solid #36b9cc!important;
}
.border-left-warning {
    border-left: .25rem solid #f6c23e!important;
}
.text-white-50 {
    color: rgb(255, 255, 255)!important;
}
.mcard-body{
    background: white;
    padding: 10px;
    border-radius: 3px;
}
.m-text{
    color: black !important;
    font-size: 16px;
}