<div class="content-inside">
    <div class="light-wrapper">
        <div class="container inner" style="padding-bottom: 125px;">
          <div class="thin">
            <div class="section-title text-center">
              <h2>Contact Us</h2>
              <p class="lead"> We would love to hear from you so why not drop us an email. <br>
    We will get back to you as soon as possible </p>
            </div>
            <!-- /.section-title -->
          </div>
          <!-- /.thin -->
          <div class="row">
            <div class="col-md-4 rp25">
             
              <div class="divide20"></div>
              <div class="widget">
                <ul class="info list-inline">
                  <li>
                  <h3>Registered Office : </h3>
                  
                  <h3>SKM MARKETING AND RETAILS PRIVATE LIMITED</h3>
                  
                    
                    <i class="fa fa-map-marker"></i> <strong>Address:</strong><br>                
                    Door No. #008, Grownd floor, some complex, coimbatore, coimbatore, India, 0000000<p></p>
                  </li><br>
    <br>
    
                  <li><i class="fa fa-phone"></i>
                    <p><a>+91 9944642177</a></p>
                  </li>
                  <li><i class="fa fa-phone"></i>
                    <p><a>+91 9944642173</a></p>
                  </li>
    
    
                  <li><i class="fa fa-envelope"></i>
                    <p><a href="mailto:info@skmarketing.com ">info@skmarketing.com </a></p>
                  </li>
                </ul>
                <!-- /.info -->
              </div>
              <!-- .widget -->
            </div>
            <!-- /column -->
            <div class="col-md-8 lp25">
              <div class="form-container">
              
                <form name="form1" id="form1" method="post" class="vanilla vanilla-form" action="#">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-field">
                        <label>
                        <input type="text" name="name" id="name" placeholder="Your name" required="required">
                        </label>
                      </div>
                      <!--/.form-field -->
                    </div>
                    <!--/column -->
                    <div class="col-sm-6">
                      <div class="form-field">
                        <label>
                        <input type="email" name="email" id="email" placeholder="Your e-mail" required="required">
                        </label>
                      </div>
                      <!--/.form-field -->
                    </div>
                    <!--/column -->
                    <div class="col-sm-12">
                      <div class="form-field">
                        <label>
                        <input type="text" name="phone" id="phone" placeholder="Phone">
                        </label>
                      </div>
                      <!--/.form-field -->
                    </div>
                    <div class="col-sm-12">
                      <textarea name="message" id="message" placeholder="Type your message here..." required="required"></textarea>
                      <input type="submit" name="submit" class="btn btn-primary" value="Submit" style="width: 100px;">
                      
                    </div>
                    <!--/column -->
                  </div>
                  <!--/.row -->
                </form>
                <!--/.vanilla-form -->
              </div>
              <!--/.form-container -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>

      <footer class="footer inverse-wrapper" style="background:#001031 !important">
        <div class="container inner">
          <div class="row">
      
                <div class="col-sm-3">
                  <div class="widget">
                      <h4 class="widget-title">Get in Touch</h4>
                      <p><strong>SKM MARKETING AND RETAILS PRIVATE LIMITED</strong></p>
                      <ul class="info">
                        <li><i class="fa fa-map-marker"></i>
                            <p><strong> Head Office : </strong><br>Door No. #008, Grownd floor, some complex, coimbatore, coimbatore, India, 0000000</p>
                        </li>
                        <li><i class="fa fa-envelope"></i>
                            <p><a href="mailto:info@skmarketing.com" class="email-link">info@skmarketing.com</a></p>
                        </li>
                        <li><i class="fa fa-phone"></i>
                            <p>+91 9944642177</p>
                        </li>
                        <li><i class="fa fa-phone"></i>
                          <p>+91 9944642173</p>
                      </li>
                      </ul>
                      <!-- /.info -->
                  </div>
                  <!-- /.widget -->
                </div>
                <!-- /column -->
      
      
            <div class="col-sm-3">
              <div class="widget">
                <h4 class="widget-title">About us </h4>
                <ul class="list-unstyled">
                  <li> <a href="#">Contact Us</a> </li>
                  <li> <a href="#">Terms of Use</a> </li>
                  <li> <a href="#">Privacy Policy</a> </li>
                  <li> <a href="#">Sign in</a> </li>
                  <li> <a href="#">Sign up</a> </li>
                </ul>
                <!-- /.post-list -->
              </div>
              <!-- /.widget -->
            </div>
            <div class="col-sm-3">
              <div class="widget">
                <h4 class="widget-title">More </h4>
                <ul class="list-unstyled">
                  <li> <a href="#">REFERAL INCOME</a> </li>
                  <li> <a href="#">RETAIL COME</a> </li>
                  <li> <a href="#">SPECIAL INCOME</a> </li>
                  <li> <a href="#">ACHIVEMENTS</a> </li>
                  <li> <a href="#">WORK MORE AND GET MORE</a> </li>
                </ul>
                <!-- /.post-list -->
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
            <!-- <div class="col-sm-3">
              <div class="widget">
                <h4 class="widget-title">Latest News </h4>
               <iframe src="http://mksuccessworld.com/shownews.aspx" style="height:240px; width:100%; border:none" scrolling="no"></iframe>
              </div>
            </div> -->
            <!-- /column -->
            <div class="col-sm-3">
              <div class="widget">
                <h4 class="widget-title">Copyright </h4>
                <p> Copyright 2020 © <br>
                  SKM arketing and Retails Pvt. Ltd. <br>
                  All Rights Reserved </p>
              </div>
              <!-- /.widget -->
              <div class="widget">
                <h4 class="widget-title">Follow us </h4>
                <ul class="social">
                  <li> <a href="#"><i class="fa fa-facebook-square"></i></a> </li>
                  <li> <a href="#"><i class="fa fa-twitter"></i></a> </li>
                  <li> <a href="#"><i class="fa fa-instagram"></i></a> </li>
                  <li> <a href="#"><i class="fa fa-linkedin-square"></i></a> </li>
                </ul>
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- .container -->
      </footer>
</div>
