footer {
    /* position: fixed; */
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 14px;
    width: 100%;
    text-align: center;
    height: 60px;
    padding: 15px 0px;
}