<div id="login">
    <ngb-alert *ngIf="successMessage" [type]="alerttype" (close)="successMessage = ''">{{ successMessage }}</ngb-alert>
    <!-- <h3 class="text-center text-white pt-5">Login form</h3> -->
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-box" class="col-md-12 ">
                <div id="" class="col-md-12 section-box">
                    <form id="login-form" #loginform="ngForm" class="form" (keydown.enter)="loginUser(loginform)"  (ngSubmit)="loginUser(loginform)">
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <input type="text" name="username" id="username" class="form-control" ngModel placeholder="USERNAME" >
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control" ngModel placeholder="PASSWORD" >
                        </div>
                        <div class="form-group">
                            <p>{{ loginErrorMessage }} </p>
                            <label for="remember-me" class="text-info"><span>Remember me</span> 
                                </label>
                                <span><input id="remember-me" name="remember-me" type="checkbox" style="width: 15px;"></span><br>
                            <!-- <input [disabled]="!loginform.form.valid" type="submit" name="submit" class="btn btn-primary" value="submit"> -->
                            <button [disabled]="!loginform.form.valid" type="submit" class="btn btn-primary">Login</button>
                        </div>
                        <!-- <div id="register-link" class="text-right">
                            <a href="#" class="text-info">Register here</a>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>