<div class="content-inside p-4">
  <div class="row">

    <div class="col-xl-3 col-md-6 mb-4">
    <div class="card bg-c-blue update-card">
    <div class="card-block">
    <div class="row align-items-end">
    <div class="col-8">
    <h4 class="text-white">{{result['total_members'] || na}}</h4>
    <h6 class="text-white m-b-0">Total members</h6>
     </div>
    <div class="col-4 text-right">
      <i class="fa fa-users fa-2x text-gray-300"></i>
    </div>
    </div>
    </div>
    <div class="card-footer">
    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
    <div class="card bg-c-blue update-card">
    <div class="card-block">
    <div class="row align-items-end">
    <div class="col-8">
    <h4 class="text-white">{{result['total_active'] || na}}</h4>
    <h6 class="text-white m-b-0">Total Active</h6>
    </div>
    <div class="col-4 text-right">
      <i class="fa fa-cloud-upload fa-2x text-gray-300"></i></div>
    </div>
    </div>
    <div class="card-footer">
    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
    <div class="card bg-c-blue update-card">
    <div class="card-block">
    <div class="row align-items-end">
    <div class="col-8">
    <h4 class="text-white">{{result['total_inactive'] || na}}</h4>
    <h6 class="text-white m-b-0">Total Inactive</h6>
    </div>
    <div class="col-4 text-right">
      <i class="fa fa-cloud-download fa-2x text-gray-300"></i></div>
    </div>
    </div>
    <div class="card-footer">
    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
    </div>
    </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
    <div class="card bg-c-blue update-card">
    <div class="card-block">
    <div class="row align-items-end">
    <div class="col-8">
    <h4 class="text-white">{{result['today_joined'] || na}}</h4>
    <h6 class="text-white m-b-0">Todays Joining</h6>
    </div>
    <div class="col-4 text-right">
      <i class="fa fa-handshake-o fa-2x text-gray-300"></i></div>
    </div>
    </div>
    <div class="card-footer">
    <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
    </div>
    </div>
    </div>
    
    </div>
    <!-- ---------------------------------- -->
    <div class="row" style="display: none;">
        <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 calories-valueactive mb-4" id="calories-column" >
          <div class="card" id="calories">
            <div class="card-body expense-card" id="calories-bg" style=" background-image: linear-gradient(45deg, #F23B3B 0%, #EF9027 100%); border-radius: 4px">
              <div class="card-block" id="caloriescard">
                <div class="media">
                  <div class="media-body text-xs-left float-right" id="calories-value" >
                    <h3 class="card-value" id="calories-text" style="color: #FFFFFF">13,100</h3>
                    <div id="foodimg" style="margin-top: 5px;"><span class="card-text" id="calories-subtitle" style="color: #FFFFFF">Total members</span>
                      <span id="food-img" class="icon-Food" style="margin-right: 3%;  ">
                        <i class="fa fa-users fa-2x text-gray-300"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 calories-valueactive mb-4" id="calories-column" >
            <div class="card" id="calories">
              <div class="card-body expense-card" id="calories-bg" style=" background-image: linear-gradient(45deg, #0d0c0c 0%, #5f564d 100%); border-radius: 4px">
                <div class="card-block" id="caloriescard">
                  <div class="media">
                    <div class="media-body text-xs-left float-right" id="calories-value" >
                      <h3 class="card-value" id="calories-text" style="color: #FFFFFF">13,100</h3>
                      <div id="foodimg" style="margin-top: 5px;"><span class="card-text" id="calories-subtitle" style="color: #FFFFFF">Total Active</span>
                        <span id="food-img" class="icon-Food" style="margin-right: 3%;  ">
                          <i class="fa fa-cloud-upload fa-2x text-gray-300"></i>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 calories-valueactive mb-4" id="calories-column" >
            <div class="card" id="calories">
              <div class="card-body expense-card" id="calories-bg" style=" background-image: linear-gradient(45deg, #c60af5 0%, #4f0569 100%); border-radius: 4px">
                <div class="card-block" id="caloriescard">
                  <div class="media">
                    <div class="media-body text-xs-left float-right" id="calories-value" >
                      <h3 class="card-value" id="calories-text" style="color: #FFFFFF">13,100</h3>
                      <div id="foodimg" style="margin-top: 5px;"><span class="card-text" id="calories-subtitle" style="color: #FFFFFF">Total Inactive</span>
                        <span id="food-img" class="icon-Food" style="margin-right: 3%;  ">
                          <i class="fa fa-cloud-download fa-2x text-gray-300"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="col-xs-6 col-xl-3 col-lg-3 col-md-3 col-sm-6 calories-valueactive mb-4" id="calories-column" >
            <div class="card" id="calories">
              <div class="card-body expense-card" id="calories-bg" style=" background-image: linear-gradient(45deg, #06e3f9 0%, #27668a 100%); border-radius: 4px">
                <div class="card-block" id="caloriescard">
                  <div class="media">
                    <div class="media-body text-xs-left float-right" id="calories-value" >
                      <h3 class="card-value" id="calories-text" style="color: #FFFFFF">13,100</h3>
                      <div id="foodimg" style="margin-top: 5px;"><span class="card-text" id="calories-subtitle" style="color: #FFFFFF">Todays Joining</span>
                        <span id="food-img" class="icon-Food" style="margin-right: 3%;  ">
                          <i class="fa fa-handshake-o fa-2x text-gray-300"></i></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

      <!-- Content Row -->
      <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Earning</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-rupee fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Todays Earning</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-money fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Retail Orders</div>
                  <div class="row no-gutters align-items-center">
                    <div class="col-auto">
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                    </div>
                    <div class="col">
                      <div class="progress progress-sm mr-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-shopping-cart fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4" (click)=onClickEnquiry() style="cursor: pointer;">
          <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Enquiries</div>
                  <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                </div>
                <div class="col-auto">
                  <i class="fa fa-comments fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Color System -->
      <div class="row" style="display: none;">
          <div class="col-lg-3 mb-4">
            <div class="card bg-danger text-white shadow">
              <div class="card-body">
                Primary
                <div class="text-white-50 small">#4e73df</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="card bg-success text-white shadow">
              <div class="card-body">
                Success
                <div class="text-white-50 small">#1cc88a</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="card bg-info text-white shadow">
              <div class="card-body">
                Info
                <div class="text-white-50 small">#36b9cc</div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="card bg-warning text-white shadow">
              <div class="card-body">
                Warning
                <div class="text-white-50 small">#f6c23e</div>
              </div>
            </div>
          </div>
          
      </div>

      <div class="row pt-3">
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart 
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
        <div class="col-md-6">
          <div style="display: block;">
            <canvas baseChart 
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [plugins]="barChartPlugins"
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
</div>