.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.card-body {
    flex: 1 1 auto;
    padding: 0.25rem;
}
.card-value {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 32px;
    color: #727272;
    margin-bottom: 0px;
    margin-top: 10px;
    letter-spacing: 0;
    padding-left: 5%;
}
.card-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0;
    color: #303030;
    padding-left: 5%;
}
#foodimg .icon-Food {
    float: right;
    color: #FFFFFF;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-Food:before {
    content: "\e907";
}