<!-- <header>
    <div>
      <h1>SKM</h1><span>arketing</span>
    </div>
    <div>
      <div class="top-right">
        <a href="#">VISSON</a>
        <a href="#">SKM MARKET</a>
        <a href="#">SKM GROUP</a>
        <a href="#">WHOLE SALE</a>
        <a href="#">PRODUCT</a>
        <a href="#">CONTACT US</a>
        <label class="trigger close" for="close"><div></div></label>
        <input type="radio" name="tr" id="close" />
      </div>
    </div>
  </header> -->
  <div *ngIf="isUserLoggedIn == 'website'" class="m-menuheader">
    <label class="trigger menu" for="menu-trigger"></label>
    <input type="radio" name="tr" id="menu-trigger" />
    <div class="top-right">
      <a>Vission</a>
      <a>SKM Market</a>
      <a>SKM Group</a>
      <a>Whole Sale</a>
      <a>Product</a>
      <a routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a>
      <a (click)=onClickMenuLogin(contentLogin)><span><i class="fa fa-sign-in"></i>login</span></a>
      <label class="trigger close" for="close"><div></div></label>
      <input type="radio" name="tr" id="close" />
    </div>
  </div>
  
  <div *ngIf="isUserLoggedIn == 'user'" class="m-menuheader">
    <label class="trigger menu" for="menu-trigger"></label>
    <input type="radio" name="tr" id="menu-trigger" />
    <div class="top-right">
      <a routerLink="/dashboard-member" routerLinkActive="active-link">Dashboard</a>
      <a routerLink="/personal-details" routerLinkActive="active-link">Personal Details</a>
      <a routerLink="/my-business" routerLinkActive="active-link">My Business</a>
      <a routerLink="/achivements" routerLinkActive="active-link">Achivements</a>
      <a>OurProduct</a>
      <a routerLink="/plan" routerLinkActive="active-link">Plan</a>
      <a routerLink="/contact-us" routerLinkActive="active-link">Contact Us</a>
      <a style="padding: 0px 0px;"><span>
        <span class="dropdown">
          <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)=open(content)>Chage Password</button>
            <button class="dropdown-item" type="button">Change Phone number</button>
            <button class="dropdown-item" type="button">Change Email ID</button>
          </div>
        </span>
      </span></a>
      <a style="padding: 0px 25px;"><span>
        <span class="dropdown">
          <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Profile</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button (click)=onClickMenuLogout() class="dropdown-item" type="button">logout</button>
          </div>
        </span>
      </span></a>
      <label class="trigger close" for="close"><div></div></label>
      <input type="radio" name="tr" id="close" />
    </div>
  </div>

  <div *ngIf="isUserLoggedIn == 'admin'" class="m-menuheader">
    <label class="trigger menu" for="menu-trigger"></label>
    <input type="radio" name="tr" id="menu-trigger" />
    <div class="top-right">
      <a routerLink="/dashboard-admin" routerLinkActive="active-link">Dashboard</a>
      <a routerLink="/personal-details" routerLinkActive="active-link">Personal Details</a>
      <a routerLink="/list-all-users" routerLinkActive="active-link">Members</a>
      <a routerLink="/inbox" routerLinkActive="active-link">Inbox</a>
      <a routerLink="/my-business" routerLinkActive="active-link">My Business</a>
      <a routerLink="/our-products" routerLinkActive="active-link">Products</a>
      <a routerLink="/plan" routerLinkActive="active-link">Plan</a>
      <a style="padding: 0px 0px;"><span>
        <span class="dropdown">
          <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog"></i></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button" (click)=open(content)>Chage Password</button>
            <button class="dropdown-item" type="button">Change Phone number</button>
            <button class="dropdown-item" type="button">Change Email ID</button>
          </div>
        </span>
      </span></a>
      <a style="padding: 0px 25px;"><span>
        <span class="dropdown">
          <button class="btn btn-dropdown dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i></button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" type="button">Profile</button>
            <button class="dropdown-item" type="button">Another action</button>
            <button (click)=onClickMenuLogout() class="dropdown-item" type="button">logout</button>
          </div>
        </span>
      </span></a>
      <label class="trigger close" for="close"><div></div></label>
      <input type="radio" name="tr" id="close" />
    </div>
  </div>

  <header>
    <div>
      <!-- <h1>S K M </h1><span style="margin-top: 10px;">arketing</span> -->
      <a routerLink="/dashboard" routerLinkActive="active-link"><img src="../../../assets/images/logo-big.png" width="65" style="margin-top: 60px;"/></a>
    </div>
    <div>
      <label class="trigger menu" for="menu-trigger"></label>
      <input type="radio" name="tr" id="menu-trigger" />
      <div *ngIf="isUserLoggedIn == 'website'" class="top-right mr-5">
        <a style="padding: 0px 10px;"><i class="fa fa-facebook-square" aria-hidden="true" style="font-size: 25px;"></i></a>
        <a style="padding: 0px 10px;"><i class="fa fa-linkedin-square" aria-hidden="true" style="font-size: 25px;"></i></a>
        <a style="padding: 0px 10px;"><i class="fa fa-instagram" aria-hidden="true" style="font-size: 25px;"></i></a>
        <a style="padding: 0px 10px;"><i class="fa fa-twitter" aria-hidden="true" style="font-size: 25px;"></i></a>
      </div>
    </div>
  </header>

  <!-- The Modal -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-pwd-change></app-pwd-change>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>
  <!-- <pre>{{ closeResult }}</pre> -->

  <!-- The Modal -->
  <ng-template #contentLogin let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Login</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <app-login
      (childMessage)="showMessageFromChild($event)"></app-login>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Save</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Cancel</button>
    </div> -->
  </ng-template>
