<!-- <header>
    <div>
      <h1>SKM</h1><span>arketing</span>
    </div>
    <div>
      <div class="top-right">
        <a href="#">VISSON</a>
        <a href="#">SKM MARKET</a>
        <a href="#">SKM GROUP</a>
        <a href="#">WHOLE SALE</a>
        <a href="#">PRODUCT</a>
        <a href="#">CONTACT US</a>
        <label class="trigger close" for="close"><div></div></label>
        <input type="radio" name="tr" id="close" />
      </div>
    </div>
  </header> -->

  <header>
    <div>
      <h1>Site Name</h1>
    </div>
    <div>
      <label class="trigger menu" for="menu-trigger"></label>
      <input type="radio" name="tr" id="menu-trigger" />
      <div class="top-right">
        <a>Vission</a>
        <a>SKM Market</a>
        <a>SKM Group</a>
        <a>Whole Sale</a>
        <a>Product</a>
        <a  (click)=onClickMenu(contactus)>Contact Us</a>
        <label class="trigger close" for="close"><div></div></label>
        <input type="radio" name="tr" id="close" />
      </div>
    </div>
  </header>