  .m-menuheader{
    top: 60px;
    left: 0px;
    right: 0px;
    position: fixed;
    height: 60px;
    padding: 0px 10px 0px 5px;
    z-index: 100;
    color: white;
    /* background-color: rgba(68, 157, 68, 0.8); */
    background-color: #001031;
    justify-content: space-between;
  }
  header{
    top: 0px;
    left: 0px;
    right: 0px;
    position: fixed;
    height: 60px;
    padding: 0px 10px 0px 5px;
    z-index: 100;
    color: white;
    background-color: white;
    /* background-color: #0e0d0d; */
    /* border-bottom: 1px solid #0e0d0d; */
    /* box-shadow: 3px 1px 10px rgba(148, 195, 255, 0.72); */
    justify-content: space-between;
  }
  
  header, header>div, .top-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex-grow: 1; */
  }
  
  header>div:last-child, .top-right{
    justify-content: flex-end;
  }
  
  .top-right>div{
    margin: 0px 15px;
  }
  
 i{
  font-size: 25px;
  margin-right: 5px;
  color: #fe004a;
 }
  
  .icon-mag{
    background-image: url(//ssl.gstatic.com/gb/images/v1_2400d57c.png);
    background-repeat: no-repeat;
    background-size: 112px 1828px;
    background-position: -69px -349px;
    border: 0px;
    border-left: 1px solid #999999;
    margin-left: -50px;
    height: 30px;
    width: 30px;
    z-index: 101;
    background-color: gray;
  }
  
  .top-right>a{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 60px;
    padding: 0px 25px;
    text-align: right;
    color: #f8f9fa;
    text-decoration: none;
    vertical-align: middle;
  }
  
  .top-right>a:hover{
    /* background: gray; */
    color: #fe004a;
  }
  
  .trigger{
    display: none;  
  }
  
  .trigger.icon-mag{
    margin-left: 0px;
    border: 0px;
    border-right: 1px solid gray;
    background-color: black;
  }
  
  .menu{
    margin: 10px;
    width: 30px;
    height: 5px;
    border: 0px;
    border-top: 15px double #fe004a;
    border-bottom: 5px solid #fe004a;
  }
  
  /* .close{
    display: none;
    width: 100%;
    background: black;
    padding: 10px;
  } */
  .btn-dropdown {
    color: #fff;
    padding: 0px;
    box-shadow: none;
  }
  .close>div{
    margin: auto;
    height: 0px;
    width: 0px;
    border: 10px solid transparent;
    border-top: 0px;
    border-bottom: 10px solid white;
  }
  
  
  /* Radio hack, (Derive from Checkbox Hack) */
  input[type=radio]{display: none;} 
  
  input[type=radio]:checked + div{
    display: block;
  }
  
  .modal-header {
    background-color: #ff004a;
  }
  
  /* Media Queries */
  
  /* for laptop or tablet */
  @media screen and (max-width: 1024px){
    .trigger.menu{
      display: block;
    }
    .top-right{
      display: none;
      background-color: #c4bfbf;
      border-top: 1px solid #a09b9b;
      position: absolute;
      top: 62px;
      left: 0px;
      right: 0px;
    }
    .top-right>.close{
      display: block;
    }
    .top-right>a{
      text-align: center;
      columns: black;
    }
  }
  
  
  @media screen and (max-width: 800px){
    .trigger.icon-mag{
      display: block;
    }
    .searchbox{
      line-height: 60px;
      display: none;
      background-color: black;
      border-top: 1px solid #222222;
      position: absolute;
      top: 62px;
      left: 0px;
      right: 0px;
      text-align: center;
      padding-right: 0px;
    }
    .searchbox>.close{
      display: block;
    }
    .search{
      width: 100px;
      width: 90%;
    }
  }