<div class="content-inside p-4">
  <div class="card table-card">
    <div class="card-header">
      <h5>Recent Tickets</h5>
      <div class="card-header-right"></div>
    </div>
    <div class="card-block">
      <div class="table-responsive">
        <table class="table table-hover table-borderless">
          <thead style="border-bottom: 2px solid;">
            <tr>
              <th>id</th>
              <th>name</th>
              <th>email</th>
              <th>mobile</th>
              <th>enquiry</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Ram</td>
              <td>Ram@gmail.com</td>
              <td>91234566</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-success">open</label></td>
            </tr>
            <tr>
              <td>2</td>
              <td>Venu</td>
              <td>Venu@gmail.com</td>
              <td>91234564</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-primary">progress</label></td>
            </tr>
            <tr>
              <td>5</td>
              <td>raj</td>
              <td>raj@gmail.com</td>
              <td>91234568</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-danger">closed</label></td>
            </tr>
            <tr>
              <td>7</td>
              <td>Rakesh</td>
              <td>Rakesh@gmail.com</td>
              <td>91234569</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-success">open</label></td>
            </tr>
            <tr>
              <td>3</td>
              <td>Gopal</td>
              <td>Gopal@gmail.com</td>
              <td>91254569</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-primary">progress</label></td>
            </tr>
            <tr>
              <td>8</td>
              <td>Rajesh</td>
              <td>Rajesh@gmail.com</td>
              <td>91264569</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-success">open</label></td>
            </tr>
            <tr>
              <td>6</td>
              <td>Abhi</td>
              <td>Abhi@gmail.com</td>
              <td>91264769</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-danger">closed</label></td>
            </tr>
            <tr>
              <td>9</td>
              <td>Varun</td>
              <td>Varun@gmail.com</td>
              <td>98264769</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-success">open</label></td>
            </tr>
            <tr>
              <td>4</td>
              <td>Arun</td>
              <td>Arun@gmail.com</td>
              <td>98263769</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-primary">progress</label></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
