<div class="content-inside p-4">
  <div class="card table-card">
    <div class="card-header">
      <h5>Recent Tickets</h5>
      <div class="card-header-right"></div>
    </div>
    <div class="card-block">
      <div class="table-responsive">
        <table class="table table-hover table-borderless">
          <thead style="border-bottom: 2px solid;">
            <tr>
              <th>id</th>
              <th>name</th>
              <th>email</th>
              <th>mobile</th>
              <th>enquiry</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Website down for one week</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-success">open</label></td>
            </tr>
            <tr>
              <td>Loosing control on server</td>
              <td>Support</td>
              <td>Yesterday</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-primary">progress</label></td>
            </tr>
            <tr>
              <td>Authorizations keys</td>
              <td>Support</td>
              <td>27, Aug</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-danger">closed</label></td>
            </tr>
            <tr>
              <td>Restoring default settings</td>
              <td>Support</td>
              <td>Today 9:00</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-success">open</label></td>
            </tr>
            <tr>
              <td>Loosing control on server</td>
              <td>Support</td>
              <td>Yesterday</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-primary">progress</label></td>
            </tr>
            <tr>
              <td>Restoring default settings</td>
              <td>Support</td>
              <td>Today 9:00</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-success">open</label></td>
            </tr>
            <tr>
              <td>Authorizations keys</td>
              <td>Support</td>
              <td>27, Aug</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-danger">closed</label></td>
            </tr>
            <tr>
              <td>Restoring default settings</td>
              <td>Support</td>
              <td>Today 9:00</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-success">open</label></td>
            </tr>
            <tr>
              <td>Loosing control on server</td>
              <td>Support</td>
              <td>Yesterday</td>
              <td>Support</td>
              <td>Today 2:00</td>
              <td><label class="msg-label label-primary">progress</label></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
