<div class="content-inside pt-3">
  <section>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-12 col-lg-12">
		  <div class="dashboard-stats m-table">
			<div class="row table-heading">
			  <div class="col-md-7">
				<div class="float-left">
				  <!-- <h4 class="">Add New Vehicle Details</h4> -->
				</div>
			  </div>
			  <div class="col-md-5">
				<form class="float-right" role="search">
				  <div class="search-vehicle-form input-group add-on">
					<button type="submit" class="not-active btn btn-danger text-uppercase mr-3 ">CANCEL</button>
					<button type="submit" class="not-active btn btn-primary text-uppercase">SAVE</button>
				  </div>
				</form>
			  </div>
			</div>

			<form class="confi-vehi-edit-form">
				<div class="col-md-12 col-lg-12 mb-4">
					<h4 class="vehicle-row-heading">Personal Details</h4>
					  <section class="section-box">
						<div class="container-fluid">
								  <div class="row">
									<div class="form-group col-md-1 col-lg-1">
									  <label for="name" class="col-form-label">Title</label>
									  <!-- <input type="text" class="form-control" id="vin" name="vin" placeholder="" ngModel required=""> -->
									  <select name="country" class="form-control">
										<!-- <option disabled="" selected="">- Select -</option> -->
										<option value="Mr"> Mr </option>
										<option value="Mrs"> Mrs </option>
										<option value="Ms"> Ms </option>
									</select>
									</div>
									<div class="form-group col-md-4 col-lg-4">
									  <label for="email" class="col-form-label">First Name</label>
									  <input type="email" class="form-control" id="vehiclemodel" name="vehiclemodel" ngModel required="">
									</div>
  
									  <div class="form-group col-md-4 col-lg-4">
										<label for="phone" class="col-form-label"> Last  Name</label>
										<input class="form-control" id="regnumber" ngModel name="regnumber" type="email" required="">
									  </div>
									  <div class="form-group col-md-3 col-lg-3">
										<label for="address" class="col-form-label">DOB</label>
										<input class="form-control" id="builddate" ngModel name="builddate" type="date" required="">
									  </div>
									  <div class="form-group col-md-2 col-lg-2">
										<label for="address" class="col-form-label">Relation</label>
										<!-- <input class="form-control" id="" ngModel name="" type="text" required=""> -->
										<select name="country" class="form-control">
											<option disabled="" selected="">- Select -</option>
											<option value="Father"> Father </option>
											<option value="Wife"> Wife </option>
											<option value="Husband"> Husband </option>
											<option value="...">...</option>
										</select>
									  </div>
									  <div class="form-group col-md-4 col-lg-4">
										<label for="address" class="col-form-label">Name</label>
										<input class="form-control" id="builddate" ngModel name="builddate" required="">
									  </div>
								</div>
						</div>
					  </section>
				  </div>
			  <div class="col-md-12 col-lg-12 mb-4">
				  <h4 class="vehicle-row-heading">Communication Details</h4>
					<section class="section-box">
					  <div class="container-fluid">
								<div class="row">
									<div class="form-group col-md-6 col-lg-6">
									  <label for="address" class="col-form-label">Address 1</label>
									  <input class="form-control" id="builddate" ngModel name="builddate" required="">
									</div>
									<div class="form-group col-md-6 col-lg-6">
									  <label for="address" class="col-form-label">Address 2</label>
									  <input class="form-control" id="builddate" ngModel name="builddate" required="">
									</div>
									<div class="form-group col-md-2 col-lg-2">
									  <label for="address" class="col-form-label">Mobile</label>
									  <input class="form-control" id="" ngModel name="" type="text" required="">
									</div>
									<div class="form-group col-md-2 col-lg-2">
									  <label for="phone" class="col-form-label">Email</label>
									  <input class="form-control" id="regnumber" ngModel name="regnumber" type="email" required="">
									</div>
									<div class="form-group col-md-2 col-lg-2">
									  <label for="address" class="col-form-label">City</label>
									  <!-- <input class="form-control" id="builddate" ngModel name="builddate" required=""> -->
									  <select name="country" class="form-control">
										<option disabled="" selected="">- Select -</option>
										<option value="Father"> Lucknow </option>
										<option value="Wife"> Kanpur </option>
										<option value="Husband"> Nagpur </option>
										<option value="American Samoa"> Indore </option>
										<option value="Andorra"> Thane </option>
										<option value="Angola"> Bhopal </option>
										<option value="...">...</option>
									</select>
									</div>
									<div class="form-group col-md-2 col-lg-2">
									  <label for="address" class="col-form-label">State</label>
									  <!-- <input class="form-control" id="builddate" ngModel name="builddate" required=""> -->
									  <select name="country" class="form-control">
										<option disabled="" selected="">- Select -</option>
										<option value="Father"> Lucknow </option>
										<option value="Wife"> Kanpur </option>
										<option value="Husband"> Nagpur </option>
										<option value="American Samoa"> Indore </option>
										<option value="Andorra"> Thane </option>
										<option value="Angola"> Bhopal </option>
										<option value="...">...</option>
									</select>
									</div>
									<div class="form-group col-md-2 col-lg-2">
									  <label for="address" class="col-form-label">Pincode</label>
									  <input class="form-control" id="builddate" ngModel name="builddate" required="">
									</div>
									<div class="form-group col-md-2 col-lg-2">
									  <label for="address" class="col-form-label">Country</label>
									  <!-- <input class="form-control" id="builddate" ngModel name="builddate" required=""> -->
									  <select name="country" class="form-control">
										<option disabled="" selected="">- Select -</option>
										<option value="Father"> Lucknow </option>
										<option value="Wife"> Kanpur </option>
										<option value="Husband"> Nagpur </option>
										<option value="American Samoa"> Indore </option>
										<option value="Andorra"> Thane </option>
										<option value="Angola"> Bhopal </option>
										<option value="...">...</option>
									</select>
									</div>
							  </div>
					  </div>
					</section>
				</div>
			<div class="col-md-12 col-lg-12 mb-4">
			<h4 class="vehicle-row-heading"> Bank Details:</h4>
			  <section class="section-box">
				<div class="container-fluid">
				  <div class="row">
					<div class="form-group col-md-3 col-lg-3">
					  <label for="" class="col-form-label">Account Number</label>
					  <input type="text" class="form-control" id="vin" name="vin" disabled>
					</div>
					<div class="form-group col-md-3 col-lg-3">
					  <label for="" class="col-form-label">Account Holder Name</label>
					  <input type="text" class="form-control" id="vehiclemodel" name="vehiclemodel"
					   required="">
					</div>
					<div class="form-group col-md-3 col-lg-3">
					  <label for="" class="col-form-label">Bank Name</label>
					  <input type="text" class="form-control" id="vehiclemodel" name="vehiclemodel"
					   required="">
					</div>
					<div class="form-group col-md-3 col-lg-3">
					  <label for="" class="col-form-label">IFSC Code</label>
					  <input type="text" class="form-control" id="vehiclemodel" name="vehiclemodel"
					   required="">
					</div>
					<div class="form-group col-md-3 col-lg-3">
					  <label for="" class="col-form-label">MICR CODE</label>
					  <input class="form-control" id="regnumber" ngModel name="regnumber"  required="">
					</div>
					<div class="form-group col-md-3 col-lg-3">
						<label for="" class="col-form-label">PAN Number</label>
						<input class="form-control" id="regnumber" ngModel name="regnumber"  required="">
					  </div>
					</div>
				</div>
			  </section>
		  </div>
		  <div class="col-md-12 col-lg-12 mb-4">
			<h4 class="vehicle-row-heading">Nominee Details</h4>
			  <section class="section-box">
				<div class="container-fluid">
				  <div class="row">
					<div class="form-group col-md-4 col-lg-4">
					  <label for="gsm" class="col-form-label">Name </label>
					  <input type="text" class="form-control" id="vin" name="vin" placeholder="" ngModel required="">
					</div>
					<div class="form-group col-md-2 col-lg-2">
					  <label for="email" class="col-form-label">Relation</label>
					  <!-- <input type="email" class="form-control" id="vehiclemodel" name="vehiclemodel" ngModel required=""> -->
					  <select name="country" class="form-control">
						<option disabled="" selected="">- Select -</option>
						<option value="Father"> Father </option>
						<option value="Wife"> Wife </option>
						<option value="Husband"> Husband </option>
						<option value="...">...</option>
					</select>
					</div>
					</div>
				</div>
			  </section>
			</div>
			
			<div class="col-md-12 col-lg-12 mb-4">
				<h4 class="vehicle-row-heading">Attachment</h4>
				  <section class="section-box">
					<div class="container-fluid">
					  <div class="row">
						<div class="form-group col-md-6 col-lg-6">
						  <label for="gsm" class="col-form-label">PAN CARD</label>
						  <!-- <input type="text" class="form-control" id="vin" name="vin" placeholder="" ngModel required=""> -->
						  <!-- <input type="file" id="myFile" name="filename2"> -->
						  <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile" name="filename">
							<label class="custom-file-label" for="customFile">Choose file</label>
						  </div>
						</div>
						<div class="form-group col-md-6 col-lg-6">
						  <label for="email" class="col-form-label">Photo</label>
						  <!-- <input type="email" class="form-control" id="vehiclemodel" name="vehiclemodel" ngModel required=""> -->
						  <div class="custom-file">
							<input type="file" class="custom-file-input" id="customFile" name="filename">
							<label class="custom-file-label" for="customFile">Choose file</label>
						  </div>
						</div>
						</div>
					</div>
				  </section>
				</div>
			</form>

		  </div>
		</div>
	  </div>
	</div>
  </section>
  </div>
