.masthead {
    height: 50vh;
    min-height: 390px;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .list-inline {
    display: table;
    width: 100%;
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
  }
  .list-inline-item {
        border-right: 1px solid rgba(0,0,0,.125);
        display: table-cell;
  }
  .list-inline li:last-child {
  border-right: none;
}
.msec-footer li{
  background-color: #ff004a;
  color: white;
}
.w-100 {
  height: 400px;
}

