<div class="content-inside">
    <section class="masthead">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
              <h1 class="font-weight-light">Vertically Centered Masthead Content</h1>
              <p class="lead">A great starter layout for a landing page</p>
            </div>
          </div>
        </div>
      </section>
      
      <!-- Page Content -->
      <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="font-weight-light">Page Content</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab nulla dolorum autem nisi 
            officiis blanditiis voluptatem hic, assumenda aspernatur facere ipsam nemo ratione cumque magnam 
            enim fugiat reprehenderit expedita.</p>
            <ul class="list-inline">
              <li class="list-inline-item">Home</li>
              <li class="list-inline-item">Products</li>
              <li class="list-inline-item">Products</li>
              <li class="list-inline-item">About Us</li>
              <li class="list-inline-item">Contact</li>
          </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">LOGON PORTEL</li>
                        <li class="list-group-item">Office Login</li>
                        <li class="list-group-item">User  Login</li>
                        <li class="list-group-item">MD Login</li>
                      </ul>
                </div>
            </div>
        </div>
      </section>
      
</div>
