<div class="content-inside p-4">

    <div class="row table-heading mb-3">
        <div class="col-md-7">
          <div class="float-left">
            <h3 class="" style="padding: 5px 0px 0px;"></h3>
          </div>
        </div>
        <div class="col-md-5">
          <form class="float-right" role="search">
            <div class="search-vehicle-form input-group add-on">
              <button type="submit" class="not-active btn btn-primary text-uppercase" (click)=onClickAddNewMember()>ADD NEW MEMBER</button>
            </div>
          </form>
        </div>
      </div>
    <div class="card mb-4">
        <div class="card-header">All Users</div>
        <div class="card-body">
            <app-angular-datatable [dataresult]="dataresult"></app-angular-datatable>
        </div>
    </div>
</div>