svg {
    display: none;
    overflow: hidden;
    vertical-align: middle;
}
.card {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(31, 45, 65, 0.15);
    overflow: hidden;
}
.card .card-header {
    color: #0061f2;
}
div.dataTables_wrapper div.dataTables_length select {
    width: auto;
    display: inline-block;
}
div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_filter {
    text-align: right;
}
div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
}
div.dataTables_wrapper div.dataTables_filter input {
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}
.datatable table.dataTable thead, .datatable table.dataTable tfoot {
    color: #0061f2;
}