<div class="content-inside">
    <!-- <h2 class="text-center">Baskar J</h2> -->
    <div><i class="fa fa-arrow-circle-o-left" style="font-size: 36px;"></i></div>
    <div class="row">
        <div class="col-md-9 pt-2">
            <!-- <h2 style="padding: 10px;width: 300px;text-align: center;margin: 10px auto;">Baskar J</h2> -->
            <!-- <app-mytree></app-mytree> -->
            <!-- <app-d3tree></app-d3tree> -->
            <!-- <app-d3v4tree></app-d3v4tree> -->
            <!-- <app-gojstree></app-gojstree> -->
        </div>
        <div class="col-md-3">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">First Income</h6>
                </div>
                <div class="card-body">
                    <p class="mb-3">You eligible for Rs.500 payout</p>
                </div>
              </div>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Secondary Income</h6>
                </div>
                <div class="card-body">
                    <p class="mb-3">Retail one pair match commision is Rs.250</p>
                </div>
              </div>
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Speical Income</h6>
                </div>
                <div class="card-body">
                    <p class="mb-3">Refer Small Maligai Stores minimum 10 shope get 10% those overall profit</p>
                </div>
              </div>
        </div>
    </div>
    
</div>